/db
/incremental_db
/simulation
/output_files
/greybox_tmp
*.qpf
*.qsf
*.qws
*.ppf
*.ddb
*.csv
*.cmp
*.sip
*.spd
*.bsf
*.f
*.hdl
*.vcd
*.bak
*.done
*.eqn
*.jdi
*.pin
*.pof
*.sof
*.smsg
*.summary
*.ttf
*.wlf
*.xrf

.DS_Store